In [7]:
#vv2289  - Vamshi

import csv
import pandas as pd
import sys
from pyspark import SparkContext, SparkConf
from pyspark.sql import SparkSession
from csv import reader

cf = SparkConf()
cf.set("spark.submit.deployMode", "client")
sc = SparkContext.getOrCreate(cf)
    
spark = SparkSession.builder.appName("Python Spark SQL basic example") \
        .config("spark.some.config.option", "some-value") \
        .getOrCreate()

csv_path = "/shared/dataWildlife/filtered_copy.csv"

df =spark.read.option("escape", "\"").option('quote',"\"").option("multiline", True).csv(csv_path, inferSchema=True, header=True)

df_filtered = df.filter(df["animal_name"] != "")
df_filtered = df_filtered.filter(df_filtered["seller"] != "")

df_filtered.show()

+--------------------+--------------------+--------------------+--------------------+--------------------+------+--------+--------------------+--------------------+------------+---------------+-----------------+--------------------+------------+
|               title|         description|              seller|            location|             country| price|currency|                  id|                 url|      domain|predicted_label|            match|         animal_name|product_type|
+--------------------+--------------------+--------------------+--------------------+--------------------+------+--------+--------------------+--------------------+------------+---------------+-----------------+--------------------+------------+
|10 OSTRICH FEATHE...|10 OSTRICH Feathe...|       thefeatherguy|Flushing, New Yor...|       United States| 70.99|     USD|4585214d-b4d7-4c0...|http://picclick.c...|picclick.com|            1.0|          Ostrich|             Ostrich|     feather|
|1 PCS REAL Ostric...|1 Pcs Real Ostric...|          benel_7507|        shenzhen, CN|People’s Republic...|  53.0|     USD|fcb9fb2d-a260-446...|http://picclick.c...|picclick.com|            1.0|          Ostrich|             Ostrich|       skull|
|ðŞ"¥ðŞŠˆMEGALODON...|ðŞ"¥ðŞŠˆMegalodon...|    fossils_from_ray|Battleboro, North...|       United States|  30.0|     USD|3b76c636-fa9f-492...|http://picclick.c...|picclick.com|            1.0|            shark|         Silky shark|       Teeth|
|1.25 INCH SAND Ti...|1.25 inch Sand Ti...|           supete-28|Saint Paul, Minne...|Republic of Trini...|  25.0|     USD|6ee420cb-94f3-4bd...|http://picclick.c...|picclick.com|            1.0| Sand tiger shark|    Sand tiger shark|       tooth|
|0.92" CARCHARHINU...|0.92" Carcharhinu...|      blueskyfossils|Sarasota, Florida...|       United States|  7.99|     USD|5744e9e6-d378-4e1...|http://picclick.c...|picclick.com|            1.0|     Carcharhinus|Carcharhinus falc...|       tooth|
|10 BIG EYE Diablo...|10 Big Eye Diablo...|          goodwin808|Port Saint Lucie,...|Oriental Republic...| 16.69|     USD|1acc569f-998b-447...|http://picclick.c...|picclick.com|            1.0|          Redfish|             Redfish|        null|
|(4) 1.5 OZ Silver...|(4) 1.5 oz Silver...|         welloverpar|   Vernon, Texas, US|       United States| 180.0|     USD|ca85022a-122b-454...|http://picclick.c...|picclick.com|            1.0|            white|   Great white shark|        null|
|10 OSTRICH FEATHE...|10 OSTRICH Feathe...|       thefeatherguy|Flushing, New Yor...|       United States|103.99|     USD|a3c9ad4b-13af-4da...|http://picclick.c...|picclick.com|            1.0|          Ostrich|             Ostrich|        wing|
|Ìî•MEGALODON SHA...|Ìî•Megalodon Sha...|    fossils_from_ray|Battleboro, North...|       United States|  12.0|     USD|0912bc47-e124-416...|http://picclick.c...|picclick.com|            1.0|            shark|         Silky shark|       tooth|
|10 FOSSIL  Shark ...|10 Fossil Shark T...|omnifariousartifacts|Asheville, North ...|       United States| 14.95|     USD|923125d5-7727-402...|http://picclick.c...|picclick.com|            1.0|            shark|         Silky shark|       Teeth|
|1-11/16 INCH GREA...|1-11/16 inch GREA...|        toothsleuth0|Charlotte, North ...|Saint Vincent and...|  44.0|     USD|fb02072c-f345-45a...|http://picclick.c...|picclick.com|            1.0|Great white shark|   Great white shark|       tooth|
|1/2 LB+ MEGALODON...|1/2 lb+ Megalodon...|          tooffinder| Oviedo, Florida, US|  Dominican Republic| 125.0|     USD|536ec5bb-a0d1-4ef...|http://picclick.c...|picclick.com|            1.0|            shark|         Silky shark|       tooth|
|1 1/4" GENUINE Ha...|1 1/4" Genuine Ha...|  lone_star_treasure|  El Paso, Texas, US|       United States| 135.0|     USD|3f6634fa-30cf-473...|http://picclick.c...|picclick.com|            1.0|          Ostrich|             Ostrich|       quill|
|Ìî•̶àMEGALODON ...|Ìî•̶àMegalodon ...|    fossils_from_ray|Battleboro, North...|       United States| 120.0|     USD|fd9a9103-5212-47c...|http://picclick.c...|picclick.com|            1.0|            shark|         Silky shark|       tooth|
|Ìî•OTODUS OBLIQU...|Ìî•Otodus obliqu...|    fossils_from_ray|Battleboro, North...|       United States|  80.0|     USD|e71bfc15-d9da-4cf...|http://picclick.c...|picclick.com|            1.0|            shark|         Silky shark|       tooth|
| FOSSIL GREAT WHI...|Fossil Great Whit...|       fossilsonline| Venice, Florida, US|    Italian Republic| 102.0|     USD|e3cc9c9f-6ab2-4fb...|http://picclick.c...|picclick.com|            1.0|Great white shark|   Great white shark|       tooth|
|10 HTLURECO BULLE...|10 HTLURECO Bulle...|            htlureco|Horseheads, New Y...|       United States| 19.84|     USD|83a1c24f-978c-4eb...|http://picclick.c...|picclick.com|            1.0|          Redfish|             Redfish|        null|
|16.5" ANTIQUE MIN...|16.5" Antique min...|             aping30|         NANYANG, CN|People’s Republic...|1105.0|     USD|15a8804f-c9e4-4ab...|http://picclick.c...|picclick.com|            1.0|            white|   Great white shark|        null|
|METAL 18" WIDE Tr...|Metal 18" Wide Tr...|         warnerve777|Fort Worth, Texas...|       United States|  58.0|     USD|413eb5b2-5915-434...|http://picclick.c...|picclick.com|            1.0|            shark|         Silky shark|        null|
|10 BLACK PAINTED ...|10 Black Painted ...|          alrobins68|Waterford, Wiscon...|             Jamaica|  7.99|     USD|2fb67f91-3a10-443...|http://picclick.c...|picclick.com|            1.0|          Redfish|             Redfish|        null|
+--------------------+--------------------+--------------------+--------------------+--------------------+------+--------+--------------------+--------------------+------------+---------------+-----------------+--------------------+------------+
only showing top 20 rows

In [10]:
from pyspark.sql.functions import udf, col
from pyspark.sql.types import IntegerType

def simple_fuzzy_match(str1, str2):
    str1, str2 = str1.lower(), str2.lower()
    matches = sum((1 for a, b in zip(str1, str2) if a == b))
    max_length = max(len(str1), len(str2))
    return int((matches / max_length) * 100) if max_length != 0 else 0

fuzzy_match_udf = udf(simple_fuzzy_match, IntegerType())

def find_duplicates(df, limiter=5000):
    df1 = df.alias('df1')
    df2 = df.alias('df2')
    
    condition = (df1.animal_name == df2.animal_name) & \
                (df1.product_type == df2.product_type) & \
                (df1.seller != df2.seller)
    joined_df = df1.join(df2, condition)
    
    result_df = joined_df.withColumn("similarity", fuzzy_match_udf(col("df1.title"), col("df2.title")))
    filtered_df = result_df.filter(col("similarity") >= 90)  

    final_df = filtered_df.select(
        col("df1.seller").alias("seller"),
        col("df2.seller").alias("duplicate_seller"),
        col("df1.title").alias("title"),
        col("df2.title").alias("duplicate_title"),
        col("df1.location").alias("location"),
        col("df2.location").alias("duplicate_location"),
        col("df1.country").alias("country"),
        col("df2.country").alias("duplicate_country"),
        col("df1.price").alias("price"),
        col("df2.price").alias("duplicate_price"),
        col("df1.currency").alias("currency"),
        col("df2.currency").alias("duplicate_currency"),
        col("df1.url").alias("url"),
        col("df2.url").alias("duplicate_url"),
        "similarity"
    )
    
    limited_df = final_df.limit(limiter)
    return limited_df

duplicates_df = find_duplicates(df_filtered, limiter=5000)
duplicates_df.show()

+----------------+----------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+-----+---------------+--------+------------------+--------------------+--------------------+----------+
|          seller|duplicate_seller|               title|     duplicate_title|            location|  duplicate_location|             country|   duplicate_country|price|duplicate_price|currency|duplicate_currency|                 url|       duplicate_url|similarity|
+----------------+----------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+-----+---------------+--------+------------------+--------------------+--------------------+----------+
|      benel_7507|      jewelry888|1 PCS REAL Ostric...|3 PCS REAL Ostric...|        shenzhen, CN| YiwuïŒZhejiang, CN|People’s Republic...|    Italian Republic| 53.0|          86.99|     USD|               USD|http://picclick.c...|http://picclick.c...|        94|
|      benel_7507|      jewelry888|1 PCS REAL Ostric...|2 PCS REAL Ostric...|        shenzhen, CN| YiwuïŒZhejiang, CN|People’s Republic...|    Italian Republic| 53.0|          59.99|     USD|               USD|http://picclick.c...|http://picclick.c...|        95|
|      benel_7507|   tanzhenhai158|1 PCS REAL Ostric...|3 PCS REAL Ostric...|        shenzhen, CN| YiwuïŒZhejiang, CN|People’s Republic...|    Italian Republic| 53.0|          86.99|     USD|               USD|http://picclick.c...|http://picclick.c...|        94|
|      benel_7507|   tanzhenhai158|1 PCS REAL Ostric...|1 PCS REAL Ostric...|        shenzhen, CN| YiwuïŒZhejiang, CN|People’s Republic...|    Italian Republic| 53.0|           31.9|     USD|               USD|http://picclick.c...|http://picclick.c...|        96|
|      benel_7507|      jewelry888|1 PCS REAL Ostric...|1 PCS REAL Ostric...|        shenzhen, CN| YiwuïŒZhejiang, CN|People’s Republic...|    Italian Republic| 53.0|           31.9|     USD|               USD|http://picclick.c...|http://picclick.c...|        96|
|      benel_7507|       sexywh-13|1 PCS REAL Ostric...|1 PCS REAL Ostric...|        shenzhen, CN|        shenzhen, CN|People’s Republic...|People’s Republic...| 53.0|          50.35|     USD|               USD|http://picclick.c...|http://picclick.c...|        96|
|       sexywh-13|      jewelry888|1 PCS REAL Ostric...|3 PCS REAL Ostric...|        shenzhen, CN| YiwuïŒZhejiang, CN|People’s Republic...|    Italian Republic|50.35|          86.99|     USD|               USD|http://picclick.c...|http://picclick.c...|        94|
|       sexywh-13|      jewelry888|1 PCS REAL Ostric...|2 PCS REAL Ostric...|        shenzhen, CN| YiwuïŒZhejiang, CN|People’s Republic...|    Italian Republic|50.35|          59.99|     USD|               USD|http://picclick.c...|http://picclick.c...|        95|
|       sexywh-13|   tanzhenhai158|1 PCS REAL Ostric...|3 PCS REAL Ostric...|        shenzhen, CN| YiwuïŒZhejiang, CN|People’s Republic...|    Italian Republic|50.35|          86.99|     USD|               USD|http://picclick.c...|http://picclick.c...|        94|
|       sexywh-13|   tanzhenhai158|1 PCS REAL Ostric...|1 PCS REAL Ostric...|        shenzhen, CN| YiwuïŒZhejiang, CN|People’s Republic...|    Italian Republic|50.35|           31.9|     USD|               USD|http://picclick.c...|http://picclick.c...|        95|
|       sexywh-13|      jewelry888|1 PCS REAL Ostric...|1 PCS REAL Ostric...|        shenzhen, CN| YiwuïŒZhejiang, CN|People’s Republic...|    Italian Republic|50.35|           31.9|     USD|               USD|http://picclick.c...|http://picclick.c...|        95|
|       sexywh-13|      benel_7507|1 PCS REAL Ostric...|1 PCS REAL Ostric...|        shenzhen, CN|        shenzhen, CN|People’s Republic...|People’s Republic...|50.35|           53.0|     USD|               USD|http://picclick.c...|http://picclick.c...|        96|
|     yestopsales|       zoustores|1X NATURAL CARVED...|1X NATURAL CARVED...|          Jinhua, CN|          Jinhua, CN|                null|People’s Republic...| 5.29|           5.68|     USD|               USD|http://picclick.c...|http://picclick.c...|        97|
|     yestopsales|        ylystore|1X NATURAL CARVED...|1X NATURAL CARVED...|          Jinhua, CN|          Jinhua, CN|                null|People’s Republic...| 5.29|           5.49|     USD|               USD|http://picclick.c...|http://picclick.c...|        98|
|      tooffinder|     h_sargent77|HEMIPRISTIS SHARK...|HEMIPRISTIS SHARK...| Oviedo, Florida, US|Bradenton, Florid...|  Dominican Republic|Oriental Republic...| 15.0|           18.0|     USD|               USD|http://picclick.c...|http://picclick.c...|        98|
|allaboutlearning|  selltotheworld|2 CM CLEAR Resin ...|2 CM CLEAR Resin ...|Chai Wan, Hong Ko...|       Hong Kong, HK| Kingdom of Thailand|Hong Kong Special...|14.99|          16.99|     USD|               USD|http://picclick.c...|http://picclick.c...|        97|
|      jewelry888|   tanzhenhai158|1 PCS REAL Ostric...|3 PCS REAL Ostric...| YiwuïŒZhejiang, CN| YiwuïŒZhejiang, CN|    Italian Republic|    Italian Republic| 31.9|          86.99|     USD|               USD|http://picclick.c...|http://picclick.c...|        95|
|      jewelry888|   tanzhenhai158|1 PCS REAL Ostric...|1 PCS REAL Ostric...| YiwuïŒZhejiang, CN| YiwuïŒZhejiang, CN|    Italian Republic|    Italian Republic| 31.9|           31.9|     USD|               USD|http://picclick.c...|http://picclick.c...|       100|
|      jewelry888|       sexywh-13|1 PCS REAL Ostric...|1 PCS REAL Ostric...| YiwuïŒZhejiang, CN|        shenzhen, CN|    Italian Republic|People’s Republic...| 31.9|          50.35|     USD|               USD|http://picclick.c...|http://picclick.c...|        95|
|      jewelry888|      benel_7507|1 PCS REAL Ostric...|1 PCS REAL Ostric...| YiwuïŒZhejiang, CN|        shenzhen, CN|    Italian Republic|People’s Republic...| 31.9|           53.0|     USD|               USD|http://picclick.c...|http://picclick.c...|        96|
+----------------+----------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+-----+---------------+--------+------------------+--------------------+--------------------+----------+
only showing top 20 rows

In [11]:
import csv
from csv import reader
duplicates_df.write.csv('duplicate_seller_details.csv', header=True, mode="overwrite")

In [12]:
from pyspark.sql.functions import col

seller_pairs_count = duplicates_df.groupBy("seller", "duplicate_seller").count()

sorted_seller_pairs_count = seller_pairs_count.orderBy(col("count").desc())

sorted_seller_pairs_count.show()

+--------------------+--------------------+-----+
|              seller|    duplicate_seller|count|
+--------------------+--------------------+-----+
|bigbangbigbangbig...|              yumeny|  287|
|            vewof-26|              xbx-my|  189|
|              xbx-my|            vewof-26|  176|
|           dreamroom|            vewof-26|  167|
|              yumeny|bigbangbigbangbig...|  157|
|      selltotheworld|    allaboutlearning|  130|
|            vewof-26|           dreamroom|  119|
|    allaboutlearning|      selltotheworld|  112|
|       luoqipeng5816|            vewof-26|  111|
|       luoqipeng5816|           dreamroom|   96|
|           sunnyrain|            redpeach|   92|
| goldengoosejewelers|    jewelry4less_atl|   90|
|     la-na-time-shop|          shendgjgfu|   81|
|            gaofudev|    allaboutlearning|   73|
|    jewelry4less_atl| goldengoosejewelers|   72|
|            redpeach|           sunnyrain|   71|
|   nastiaahstrinkets|      aqhatrailrider|   70|
|          maycocomay|        blinkfan_169|   61|
|           dreamroom|       luoqipeng5816|   56|
|      aqhatrailrider|   nastiaahstrinkets|   56|
+--------------------+--------------------+-----+
only showing top 20 rows

In [14]:
from pyspark.sql.functions import concat_ws, col, lit, split, max as spark_max
import pyspark.sql.functions as F

sorted_seller_pairs_count = sorted_seller_pairs_count.withColumn(
    "normalized_pair",
    concat_ws(",", 
              F.sort_array(F.array("seller", "duplicate_seller")))
)

max_pairs_df = sorted_seller_pairs_count.groupBy("normalized_pair").agg(
    spark_max("count").alias("max_count")
)

max_pairs_df = max_pairs_df.withColumn(
    "seller", split(col("normalized_pair"), ",").getItem(0)
).withColumn(
    "duplicate_seller", split(col("normalized_pair"), ",").getItem(1)
).select(
    "seller", "duplicate_seller", "max_count"
)

max_pairs_df = max_pairs_df.orderBy(col("max_count").desc())

max_pairs_df.show()

max_pairs_df.write.csv('seller_match_count.csv', header=True, mode="overwrite")

+--------------------+--------------------+---------+
|              seller|    duplicate_seller|max_count|
+--------------------+--------------------+---------+
|bigbangbigbangbig...|              yumeny|      287|
|            vewof-26|              xbx-my|      189|
|           dreamroom|            vewof-26|      167|
|    allaboutlearning|      selltotheworld|      130|
|       luoqipeng5816|            vewof-26|      111|
|           dreamroom|       luoqipeng5816|       96|
|            redpeach|           sunnyrain|       92|
| goldengoosejewelers|    jewelry4less_atl|       90|
|     la-na-time-shop|          shendgjgfu|       81|
|    allaboutlearning|            gaofudev|       73|
|      aqhatrailrider|   nastiaahstrinkets|       70|
|        blinkfan_169|          maycocomay|       61|
|bigbangbigbangbig...|       miniyellowcat|       55|
|     aquariumzonetoo|        yebenstore03|       54|
|         baymax_2015|bigbangbigbangbig...|       52|
|             lus8968|              yumeny|       52|
|bigbangbigbangbig...|             lus8968|       52|
|         baymax_2015|              yumeny|       52|
|            gaofudev|      selltotheworld|       49|
|       smooth-dealer|         xiatian8899|       48|
+--------------------+--------------------+---------+
only showing top 20 rows